@font-face {
    font-family: "SpaceMono Nerd Font";
    font-display: swap;
    src:
        local("SpaceMono Nerd Font"),
        url(../fonts/SpaceMonoNF.woff2) format("woff2"),
        url(../fonts/SpaceMonoNF.woff) format("woff");
}

:root {
    color-scheme: dark;
}

* {
    transition: 0.2s ease-in-out;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background-color: var(--background-color);
    opacity: 1;
    overflow-x: clip;
}

body {
    color: var(--text-color);
    font-family: SpaceMono Nerd Font, monospace;
}

#bg_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0.15;
    background-image: url("../images/bg.jpg");
    filter: invert();
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 12px;
    border-radius: 17px;
    backdrop-filter: blur(7px);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px 0px;
}

#image {
    height: 570px;
    opacity: 0;
    transition: opacity 0.5s linear;
    position: relative;
}

#image.loaded {
    opacity: 1;
}

#carouselImage {
    height: 100%;
    aspect-ratio: 10 / 16;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
    border-radius: 5px;
    object-fit: cover;
}

#carouselImage:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#text {
    transition: transform 0.5s ease-in-out;
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
}

#greeting {
    font-family: var(--font);
    transform: scale(var(--scale), 1);
    content: var(--great);
    color: var(--accent-color-2);
    font-size: var(--font-size);
    font-weight: 900;
    grid-column: 1 / -1;
    text-align: center;
    display: grid;
}

#date {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--accent-color);
    display: grid;
    grid-column: 1 / -1;
    text-align: center;
    margin: 1em 0px;
}

#links {
    display: grid;
    row-gap: 0.5em;
    column-gap: 2em ;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    
}

.header {
    color: var(--accent-color);
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    transition: color 0.2s ease-out;
}

@media (max-width: 800px) {
    img {
        display: none;
    }
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-color);
    font-size: 1.2em;
    text-decoration: none;
    transition: color ease-out 0.2s;
}

a:hover {
    color: var(--hover-color);
    font-style: italic;
}